<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Mission of the Conference,
          Why are we planning this?
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Nullam malesuada elementum enim, sit amet tincidunt lorem semper sed. 
          Integer et lectus tincidunt, cursus lectus vel, iaculis massa. 
          Ut vitae nibh pulvinar, elementum quam dictum, blandit nunc. 
          Phasellus quis neque in leo condimentum tincidunt. 
          Fusce placerat justo sit amet sagittis dapibus. 
          Pellentesque tempus id leo sit amet volutpat. 
          Cras consectetur lacus vel ante laoreet, in ornare mauris euismod.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
