<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          The Marie Skłodowska–Curie Actions Doctoral Network, PHYMOL, is pleased to announce it's kick-off meeting. 
          PHYMOL brings together leading experts in the fields of molecular simulations, quantum chemistry, crystal structure prediction, 
          intermolecular modelling, spectroscopy, machine-learning, and nano-clusters, from 12 academic institutes & laboratories, and 4 industrial entities, 
          in an ambitious programme of research and training to develop a new generation of researchers in the field of molecular modelling. 
          Having been selected after a rigorous set of interviews, our doctoral candidates are just now starting their respective projects. 
          This conference will be a time for all the PIs and students to get to know each other, to learn about each others projects, to foster the collaborative nature 
          of these projects, and to enjoy an invigorating intellectual atmosphere of discovery and learning. We have an exciting line up of talks and tutorials, 
          as well as ample time for discussion in the laid back, idyllic atmosphere of the University of Luxembourg. The perfect start to an exciting research endeavour.
        </p>
      </div>
    </div>
  </div>
</section>
