<!-- Header -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Schedule</h2>
        <hr class="star-primary">
        <br><br>
      </div>
    </div>
  </div>
</section>
<!-- Timetable day-by-day -->
{% for item in site.categories.schedule %}
  {% if item.color-bg %}
  <section class="success" id="schedule-color">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h3>{{ item.header }}</h3>
        <br><br>
      </div>
      {% for event in item.combined %}
      <div class="row">
        <div class="col-lg-2 col-lg-offset-2">
          <p>
            {{ event.time }}
          </p>
        </div>
        <div class="col-lg-8">
          {% if event.session %}
            <h4>{{ event.session }}</h4>
          {% endif %}
          {% if event.coffee-break %}
            <p><i class="fa-solid fa-mug-hot" style="font-size:24px;color:#ffffff;"></i>&nbsp {{ event.descr }} </p>
          {% endif %}
          {% if event.lunch-break %}
            <p><i class="fa-solid fa-utensils" style="font-size:24px;color:#ffffff;"></i>&nbsp {{ event.descr }} </p>
          {% endif %}
          {% if event.talk %}
            <p><i class="fa-solid fa-chalkboard-user" style="font-size:24px;color:#ffffff;"></i>&nbsp {{ event.descr }}</p>
          {% endif %}
          {% if event.tutorial %}
            <p><i class="fa-solid fa-hand" style="font-size:24px;color:#ffffff;"></i>&nbsp {{ event.descr }}</p>
          {%endif %}
          {% if event.discussion %}
            <p><i class="fa-solid fa-user-group" style="font-size:24px;color:#ffffff;"></i>&nbsp {{ event.descr }}</p>
          {%endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% else %}
  <!-- item with white background -->
  <section id="schedule">
<div class="container">
      <div class="col-lg-12 text-center">
        <h3>{{ item.header }}</h3>
        <br><br>
      </div>
      {% for event in item.combined %}
      <div class="row">
        <div class="col-lg-2 col-lg-offset-2">
          <p>
            {{ event.time }}
          </p>
        </div>
        <div class="col-lg-8">
          {% if event.session %}
            <h4>{{ event.session }}</h4>
          {% endif %}
          {% if event.coffee-break %}
            <p><i class="fa-solid fa-mug-hot" style="font-size:24px;color:#5B5B5B;"></i>&nbsp {{ event.descr }} </p>
          {% endif %}
          {% if event.lunch-break %}
            <p><i class="fa-solid fa-utensils" style="font-size:24px;color:#5B5B5B;"></i>&nbsp {{ event.descr }} </p>
          {% endif %}
          {% if event.talk %}
            <p><i class="fa-solid fa-chalkboard-user" style="font-size:24px;color:#5B5B5B;"></i>&nbsp {{ event.descr }}</p>
          {% endif %}
          {% if event.tutorial %}
            <p><i class="fa-solid fa-hand" style="font-size:24px;color:#5B5B5B;"></i>&nbsp {{ event.descr }}</p>
          {%endif %}
          {% if event.discussion %}
            <p><i class="fa-solid fa-user-group" style="font-size:24px;color:#5B5B5B;"></i>&nbsp {{ event.descr }}</p>
          {%endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}
{% endfor %}
