<!-- Header -->
<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Schedule</h2>
        <hr class="star-primary">
      </div>
    </div>
  </div>
</section>
<!-- Timetable day-by-day -->
{% for item in site.categories.schedule %}
  {% if item.color-bg %}
  <section class="success" id="schedule-color">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h3>{{ item.header }}</h3>
        <br><br>
      </div>
      <!-- <script>
        const combinedData = item.times.map((time, index) => ({time,description: item.descriptions[index],}));
      </script> -->
      {% for event in item.combined %}
      <div class="row">
        <div class="col-lg-2 col-lg-offset-2">
          <p>
            {{ event.time }}
          </p>
        </div>
        <div class="col-lg-8">
          <p>
          {{ event.descr }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% else %}
  <!-- item with white background -->
  <section id="schedule">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-2">

        </div>
        <div class="col-lg-8">

        </div>
      </div> 
    </div>
  </section>
  {% endif %}
{% endfor %}
