<section class="success" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Information for Speakers</h3>
        <!-- <hr class="star-light"> -->
        <p>
        Please aim for presenting for 20 minutes and allow for 20 minutes of discussion. For the doctoral candidates, we ask that they present for about 5 minutes on previous work they have done and then 5 minutes on their future PhD projects. We will then open the floor for 10 minutes of discussion. Of course the entire conference is intended to further discuss these projects at length. 
        </p>
      </div>  
    </div>
  </div>
</section>
